* {
  padding: 0;
  margin: 0;
  font: inherit;
}

body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-inline: auto;
  max-width: 969px;
}

.container-intro {
  margin-top: 2rem;
  margin-inline: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.cake {
  height: auto;
  width: min(100%, 969px);
}

h1 {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;

  color: #000000;
}

.intro {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}
.intro img {
  margin-top: 3px;
}
.intro p {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;

  /* Gray 2 */

  color: #4f4f4f;
}

.main-section {
  margin-inline: 1rem;
  display: flex;
  flex-direction: column-reverse;
}

.flex {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.timers {
  display: flex;
  justify-content: space-between;
}
.orange {
  color: #f2994a !important;
}
.headings-primary h4 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 12px;
  text-transform: uppercase;
  color: #bdbdbd;
}
.headings-primary p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;

  /* Gray 1 */

  color: #333333;
}

.md-14 {
  font-size: 14px !important;
}
.servings {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
}

@media (min-width: 50em) {
  .main-section {
    display: flex;
    flex-direction: row;
  }
  .timers {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 2rem;
  }
  .servings {
    min-width: 216px;
    margin-top: 2rem;
    display: flex;
    align-items: center;
  }
}
.ingredients h2 {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  /* identical to box height */

  /* Gray 1 */

  color: #333333;
}
.ingredients {
  margin-top: 2rem;
}
.food {
  margin-block: 1rem;
}
.food h3 {
  font-family: "Playfair Display";
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;

  /* Gray 1 */

  color: #333333;
  margin-block: 1rem;
}

.recipe {
  display: flex;
  align-items: flex-start;
  padding-block: 0.5rem;
  gap: 1rem;
}
.recipe p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
  /* or 179% */

  /* Gray 1 */

  color: #333333;
}

.recipe p strong {
  font-weight: 700;
}
.recipe p i {
  font-weight: 500;
  font-style: italic;
}
.default-checkbox {
  width: 21px;
  height: 21px;
}

.instructions {
  margin-inline: 1rem;
  max-width: 528px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.instructions h3 {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  /* identical to box height */

  margin-block: 1rem;
  /* Gray 1 */

  color: #333333;
}
.instruction {
  display: flex;
  justify-content: flex-start;
  padding-block: 0.5rem;
  gap: 1rem;
}
.instruction h4 {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  /* identical to box height */
  text-align: center;
  color: #ffffff;
}

.orange-box {
  width: 40px;
  height: 40px;
  background: #f2994a;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  padding-bottom: 6px;
}
.instruction p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  /* or 24px */

  /* Gray 1 */

  color: #333333;
}
.instruction p strong {
  font-weight: 700;
}

.source {
  margin-top: 2rem;
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  /* or 18px */

  /* Gray 4 */

  color: #bdbdbd;
}

footer {
  margin-top: 3rem;
}
footer p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  text-align: center;

  color: #828282;
}

footer p strong {
  font-weight: 700;
}
